@charset "UTF-8";


/* General style */

@font-face {
  font-family: "HK Grotesk";
  src: url("fonts/hk-grotesk/HKGrotesk-Regular.otf") format("truetype");
}

body {
  background-color: #f7f7f7;
  color: #111;
  font-family: "HK Grotesk", sans-serif;
  font-size: 17px;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 700px;
}


/* Headings */

h1 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  margin-top: 2.1rem;
  margin-bottom: 0;
}

h1.title {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin-top: 4rem;
  margin-bottom: 1.2rem;
}

h2 {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h4.author, h4.date {
  font-size: 1.2rem;
  line-height: 1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


/* Text */

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

::selection {
  background: #989898;
}

::-moz-selection {
  background: #989898;
}

em {
  font-style: italic;
  font-weight: 500;
}

strong {
  font-style: normal;
  font-weight: 600;
}

blockquote {
  font-size: 0.9rem;
  line-height: 1.5;
  width: 90%;
}


/* Code */

pre, code {
  background: #cbcbcb;
  font-family: "Andale Mono", monospace;
  font-size: 0.9rem;
  padding: 0.1em 0.3em;
}

pre {
  overflow: auto;
}

pre > code {
  display: inline-block;
  padding: 0.5em;
  word-wrap: normal;
}


/* Links */

a:link {
  color: #0077aa;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:link::selection {
  background: #b2d6e5;
}

a:link::-moz-selection {
  background: #b2d6e5;
}

a:visited {
  color: #000c19;
}


/* Lists */

ol, ul {
  line-height: 1.2;
  width: 90%;
}

li {
  padding: 0.2rem 0;
}

li p, li pre {
  margin-top: auto;
}

dl {
  width: 90%;
}

dt {
  font-size: 0.9rem;
  font-weight: bold;
}

dd {
  font-size: 0.9rem;
  margin-bottom: 1em;
}


/* Tables */

table {
  border-top: 2px solid #111;
  border-bottom: 2px solid #111;
  font-size: 0.9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

th {
  border-bottom: 1px solid #111;
}


/* Images */

img {
  display: block;
  margin: auto;
  width: 100%;
}

p.caption {
  text-align: left;
}


/* Change style for smartphones */

@media only screen and (max-width: 480px) {
  body {
    font-size: 15px;
    padding-left: 5%;
    padding-right: 5%;
  }
}
